.present {
  display: flex;
  flex-wrap: nowrap;
  width: 749px;
  height: 150px;
  font-family: "neogram-trial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4.8px;
  font-size: 24px;
  color: #f9f9f9;
  flex-direction: column;
}

.card {
  flex-shrink: 0;
  font-family: "neogram-trial", sans-serif;
  display: flex;
  width: calc(100% - 70px);
  height: 1023px;
  border-radius: 16px;
  margin: -65px 35px;
  background: #fefefe;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  flex-wrap: wrap;
}

.cardRt {
  color: rgb(0, 0, 0);
  width: 50%;
  height: 50%;
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
}

.texRt {
  display: flex;
  color: #010101;
  /* margin-left: 5vw; */
  margin-left: 60px;
  height: 315px;
  text-align: start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.titl {
  color: #010101;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.4px;
  text-transform: capitalize;
}

.subtitl {
  color: #010101;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.butRt {
  margin-top: -3vw;
  text-align: center;
  margin-left: 3vw;
  width: 27vw;
  height: 3vw;
  background: #01010100;
  display: block;
}
.creatPr {
  margin-top: 4px;
  cursor: pointer;
  display: flex;
  border: none;
  border-radius: 15px;
  font-family: "neogram-trial", sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
  width: 453px;
  height: 68px;
  color: #f9f9f9;
  background: #010101;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.cardLt {
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.texLt {
  flex-shrink: 0;
  width: 524px;
  height: 54vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.titleQ {
  margin-bottom: 0px;
  color: #010101;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.subTitle2 {
  margin: 0;
  color: #010101;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.contenido1 {
  flex-shrink: 0;
  color: #010101;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.barraconT {
  border-bottom: 1px dotted rgba(35, 24, 95, 0.5);
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.pregunta2 {
  color: rgba(35, 24, 95, 0.5);
  width: 65%;
  height: 3vw;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.preg1 {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btSiNo {
  gap: 10px;
  display: flex;
}
.btSi {
  cursor: pointer;
  border: none;
  font-family: "neogram-trial", sans-serif;
  border-radius: 15px;
  background: #fee17a;
  width: 59px;
  height: 46px;
  color: rgba(35, 24, 95, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btNo {
  cursor: pointer;
  border: none;
  font-family: "neogram-trial", sans-serif;
  border-radius: 15px;
  background: #fee17a;
  width: 59px;
  height: 46px;
  color: rgba(35, 24, 95, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
